body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h4{
  color:red;
}
a {
  color: #00B7FF;
}

table{
  border-collapse: collapse;
  width: 90%;
}
td,th {
  border:1px solid #ccc;
}
